<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="arm_ros2_control" params="name prefix">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>cubemars_hardware/CubeMarsSystemHardware</plugin>
        <param name="can_interface">can0</param>
      </hardware>
      <joint name="${prefix}joint2">
        <param name="can_id">90</param>
        <param name="pole_pairs">21</param>
        <param name="gear_ratio">10</param>
        <param name="kt">0.123</param>
      </joint>
      <joint name="${prefix}joint3">
        <param name="can_id">91</param>
        <param name="pole_pairs">21</param>
        <param name="gear_ratio">10</param>
        <param name="kt">0.123</param>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>