<?xml version="1.0"?>
<!-- Weed Control Unit Robot Arm -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ofa_robot">
  
  <!-- Enable setting arguments from the launch file -->
  <xacro:arg name="use_mock_hardware" default="false" />

  <!-- Import robot macro -->
   <xacro:include filename="ofa_robot_description.urdf.xacro" />

  <!-- Import materials and inertia macros -->
  <xacro:include filename="inertia.urdf.xacro" />
  <xacro:include filename="materials.urdf.xacro" />

  <!-- Import ros2_control description -->
  <xacro:include filename="$(find ofa_description)/ros2_control/arm_2dof.ros2_control.xacro" />
  <xacro:include filename="$(find ofa_description)/ros2_control/linear_axis.ros2_control.xacro" />

  <!-- Load joint_limits -->
  <xacro:property name="joint_limits_file" value="$(find ofa_moveit_config)/config/joint_limits.yaml" />
  <xacro:property name="joint_limits" value="${xacro.load_yaml(joint_limits_file)['joint_limits']}"/>

  <!-- Used for fixing robot -->
  <link name="world"/>

  <xacro:weed_robot parent="world" />

  <xacro:arm_2dof_ros2_control
    name="arm_2dof" use_mock_hardware="$(arg use_mock_hardware)"/>
  <xacro:linear_axis_ros2_control
    name="linear_axis" use_mock_hardware="$(arg use_mock_hardware)"/>

</robot>
